
body {
    background-color: rgb(255, 248, 248);
    height: 2000px;
}
html {
    margin: -10px;
    overflow-x: hidden;
    scroll-behavior: disable;
}
header {
    background-color: rgb(197, 66, 66);
    height: 45px;
    display:flex;
    position:fixed;
    width: 100%;
    justify-content: center;
    margin-bottom: -5px;
}
.container{
    display: grid;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(1, 100%);
    margin-bottom: 10px;
}
#left{
    background-color: rgba(193, 118, 118, 0.725);
    grid-row: 1/2;
    height: 100%;
    width: 100%;
}
#title {
    grid-column: 2/3;
    grid-row: 1/2;
}
h1 {
    text-align: center;
}
#move {
    margin-left: 0px;
}
a {
    color: rgb(255, 248, 248);
    text-decoration: none;
    margin-left: 80px;
    font-size: 20px;
    padding-top: 10px;
}
a:hover {
    color: black;
}
#name {
    margin-left: 900px;
}
